<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="panel-footer">
    <div class="container">
      <div class="text-center">
        <div>
          <a href="#"><i class="fa fa-facebook-official socialMediaIcons" style="font-size: 36px;"></i></a>
          <a href="#"><i class="fa fa-instagram socialMediaIcons" style="font-size: 36px;"></i></a>
          <a href="#"><i class="fa fa-twitter socialMediaIcons" style="font-size: 36px;"></i></a>
          <a href="#"><i class="fa fa-google socialMediaIcons" style="font-size: 36px;"></i></a>
        </div>
        <hr style="background-color: white;">
        &copy; Copyright Saral Kanoon 2020
      </div>
    </div>
  </footer>