<nav class="navbar" id="safetynavBar">
    <div class="verticalDivider"></div>
    <form class="form-inline safety-nav">
      <a class="btn Left" id="topBtn" href="/safetyTips0">Self Defense Techniques</a>
      <a class="btn Right" id="topBtn" href="/safetyTips1">Self Defense Equipments</a>
    </form>
</div>
  </nav>