<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div style="margin:5%; background-color:aqua; height:400px">
        <center><h2 style="padding: 75px;">About US</h2>
        <p>We are the One!</p>
    </center>   
    </div>
</body>
</html>