body {
  padding-top: 120px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: none;
  background-size: cover;
}

a {
  color: #00b7ff;
}

.card-text {
  position: absolute;
  bottom: 8px;
  left: 2px;
  text-align: center;
  font-size: x-large;
  color: white;
  width: 340px;
}

.card {
  margin-bottom: 30px;
  padding-left: 30px;
  width: 33%;
  float: left;
  border-style: none !important;
  background-color: transparent;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #192841;
}

.category-tile {
  background-position: center;
  height: 250px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #7e57c2;
  overflow: hidden;
  border-radius: 5px;
}

.category-tile span {
  /* font-family: "Sniglet", sans-serif; */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  background: rgb(142, 36, 170);
  background: radial-gradient(
    circle,
    rgba(142, 36, 170, 0.7315301120448179) 0%,
    rgba(60, 20, 140, 1) 87%
  );
  color: #fff;
  opacity: 0.8;
}

.images {
  height: 250px;
  width: 100%;
}

@media (max-width: 767px) {
  .category-tile {
    height: 175px;
    margin: 0 auto 15px;
  }

  .category-tile span {
    font-size: 1rem;
  }
}

@media (max-width: 1199px) {
  .category-tile {
    height: 175px;
    margin: 0 auto 15px;
  }

  .category-tile span {
    font-size: 1rem;
  }
}
