.container{
    border:2px solid aqua;
    text-align:center;
    /* margin-top: 20px; */
    height:500px;
    width:400px;
}
body{
    padding:20px;
}
h1{
    margin:auto;
}
.row{
    height:90px;
    width:396px;
    background-color:paleturquoise;
}