.login-div {
  border: 2px solid purple;
  text-align: center;
  margin-top: 30px;
  height: 500px;
  width: 400px;
}
h1 {
  margin: auto;
}
.row {
  height: 90px;
  width: 396px;
  background-color:rgba(172, 78, 172, 0.534);
}
