#safetynavBar {
  position: fixed;
  top: 115px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-image: url("/images/navbar-footer-bg.jpg");
  background-size: cover;
}

.safety-nav {
  padding: 15px;
}
.verticalDivider {
  border-left: 2px solid #fff;
  height: 45px;
  position: absolute;
  left: 50%;
  top: 0;
}

.main-safety-div {
  margin-top: 175px;
}
.self-defense-div {
  margin-bottom: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 991px) {
  .self-defense-div {
    padding: 0;
  }
}
.Left {
  left: 0;
}
.Right {
  right: 0;
}

#topBtn {
  position: absolute;
  color: white;
  width: 50%;
}

#topBtn:hover {
  color: black;
  background-color: white;
}

.equipDiv {
  margin-top: 5px;
  text-align: center;
}

.equip-tile {
  background: none;
}
.equip-tile:hover {
  border-radius: 2px;
  box-shadow: none;
}

@media (max-width: 991px) {
  #safetynavBar {
    top: 105px;
  }
  .main-safety-div {
    margin-top: 150px;
  }
}
@media (max-width: 767px) {
  #safetynavBar {
    top: 95px;
  }
}
