body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-text{
  
  position: absolute; 
  bottom: 8px;
  left: 2px;
  text-align: center;
  font-size: x-large;
  color: white;
  width: 340px;
}

.card{
  margin-bottom: 30px;
  padding-left: 30px;
  width: 33%;
  float: left;
  border-style: none!important; 
  background-color: transparent;
}